@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


body {
  font-family: monospace;
}

img{width: 100%;
  height: auto;}

/* loading css */

:root {
  --effect: hover 1s linear infinite;
}
*{
   margin:0;
}

.body-loading {
  display: flex;
  width: 100vw;
  height: 110vh;
  background: black;
  align-items: center;
  justify-content: center;
}

.div-loading {
  text-align: center;
}

.p-loading {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(.5);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}

.p-loading:nth-child(1) {
  animation: var(--effect);
}

.p-loading:nth-child(2) {
  animation: var(--effect) .125s;
}

.p-loading:nth-child(3) {
  animation: var(--effect) .25s;
}

.p-loading:nth-child(4) {
  animation: var(--effect) .375s;
}

.p-loading:nth-child(5) {
  animation: var(--effect) .5s;
}

.p-loading:nth-child(6) {
  animation: var(--effect) .675s;
}

.p-loading:nth-child(7) {
  animation: var(--effect) .75s;
}

@keyframes hover {
  0% {
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
  }

  50% {
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
}

/* home css */

.home {
  background-image: url("../src/assets/images/futuristic.jpg");
  background-size: cover;
  height: 110vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  text-align: center;
}

.typed-text {
  margin: 0px;
  font-size: 5rem;
  font-weight: bold;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  color: aliceblue;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid rgb(255, 255, 255);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}

/* .typed-text::after {
  content: "|";
  animation: blink 1s step-end infinite;
  color: aliceblue;
  display: inline-block;
} */

  /* navbar css styles */
 
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    flex-wrap: wrap;
    background-color: transparent;
    margin-bottom: -80px;
  }
  
  .logo-nav {
    font-family: monospace;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
   
  }
  
  .logo-nav a{
    text-decoration: none;
    color: #ea00d9;
    text-shadow: 1px 1px #0abdc6, 2px 2px #0abdc6;
  }
  
  .logo-nav a:hover{
    color: white;
  }
  
  .nav-link ul {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    flex-wrap: wrap;
    font-size: 35px;
    font-weight: 500;
    padding-top: 15px;
    cursor: pointer;
  }
  
  .nav-link ul a {
    text-decoration: none;
    list-style-type: none;
    color: #ea00d9;
    text-shadow: 1px 1px #0abdc6, 2px 2px #0abdc6;
  }
  
  .nav-link ul a:hover{
    color: white;
  }

/* foot css */

.foot-div{
  background-color: rgba(0, 18, 174, 0.897);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.icon-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.icon-div img{
  width:50px;
  height: 50px;
  opacity: 50%;
}

.icon-div img:hover{
  opacity:100%;
  transform: scale(1.1);
  transition: all 2s ease;
}

.right-div {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

/* About css */
.about {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  flex-direction: row;
}

.picture-container {
  margin: 400px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  width: 35%;
  height: auto;
  border-radius: 50%;
  background: linear-gradient(to right, #0abdc6, #711c91);
  padding: 10px;
}

.name-container {
  display: flex;
  align-items: center;
}

.name-container-2 {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .5rem;
  margin-left: 10px;
  margin-right: 20px;
}

.name-1 {
  transform: translate(-50%) rotate(-10deg) skew(-10deg);
  display: block;
  float: left;
  left: 50%;
  color: #711c91;
  font-size: 6rem;
  position: relative;
  text-shadow: 1px 1px #0abdc6, 2px 2px #0abdc6, 3px 3px #0abdc6, 4px 4px #0abdc6, 5px 5px #0abdc6, 6px 6px #0abdc6;
}

.name-2 {
  transform: translate(-50%) rotate(-10deg) skew(-10deg);
  display: block;
  float: left;
  left: 50%;
  color: #711c91;
  font-size: 6rem;
  position: relative;
  text-shadow: 1px 1px #0abdc6, 2px 2px #0abdc6, 3px 3px #0abdc6, 4px 4px #0abdc6, 5px 5px #0abdc6, 6px 6px #0abdc6;
}

.vertical-bar {
  height: 25rem;
  background-color: #ea00d9;
  border: 0.1rem solid #ea00d9;
  border-radius: 1rem;
  box-shadow: 1px 1px #0abdc6;;
}

.about-text {
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: left;
  color: #fffc;
  font-size: 20px;
  text-shadow: 1px 1px #ea00d9;
}

/* Contact css */

.form-main-div {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  flex-direction: column;
}

.form-div {
  background-color: #282c34;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 5px 10px #ea00d9;
  border-radius: 10px;
}

.form-main-div h1 {
  color: #711c91;
  font-size: 3rem;
  position: relative;
  text-shadow: 1px 1px #0abdc6, 2px 2px #0abdc6, 3px 3px #0abdc6;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 7px;
  color: #711c91;
  font-size: 3rem;
  position: relative;
  text-shadow: 1px 1px #0abdc6, 2px 2px #0abdc6, 3px 3px #0abdc6;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fullname-div, .email-div, .message-div {
  width: 100%;
  margin: 10px 0;
}

input, textarea {
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0abdc6;
  font-size: 26px;
  outline: none;
  resize: none;
  margin-top: 10px;
}

input::placeholder, textarea::placeholder {
font-style: italic;
color: #0abdc6;
}

.submit-div button{
  width: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #0abdc6;
  border: solid #0abdc6 2px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.submit-div button:hover{
  background-color: white;
  color: #0abdc6;
  border-color: white;
}
